.huvudbild-text, .huvudbild-text-liten{
    color: black;
}

.huvudbild-text{
    font-weight: 600;
}

.huvudbild-text-liten{
    font-weight: 100;
}

.w3-wide{
    font-weight: bold;
}

#tour{
    background-image:url(images/gulbakgrund.png) !important;
    background-size: cover;
    width:100% !important;
    height: 100%;
    background-repeat: no-repeat !important;
    filter:grayscale(30%);
   background-attachment: fixed;
}
#avsnittRubrik{
    color: black;
    font-weight: 400;
    font-size:80px;
}
#avsnittUnderRubrik{
    margin-top: 10%;
    opacity: 1;
    font-size: large;
    color: black;
    font-weight: 900;
    margin-bottom: 0;
}


.kommandeAvsnitt{
    border: red;
    border-style: solid;
    border-radius: 15px;
}

#audioFil{
    width: 90%;
    margin-top: 1.5%;
}

.audioContainer{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    text-align: center;
    color: black;
    font-weight: 300;
    border: red;
    border-style: solid;
}

#header{
    background-color: #FFC270;
 }
