.huvudbild-text, .huvudbild-text-liten{
    color: black;
}

.huvudbild-text{
    font-weight: 600;
}

.huvudbild-text-liten{
    font-weight: 100;
}

.w3-third{
    display: inline-block;
    width:25% !important;
}



.w3-wide{
    font-weight: bold;
}

#tour{
    background-image:url(images/gulbakgrund.png) !important;
    background-size: cover;
    width:100% !important;
    height: 100%;
    background-repeat: no-repeat !important;
    filter:grayscale(30%);
   background-attachment: fixed;
}
#avsnittRubrik{
    color:whitesmoke;
}
#avsnittUnderRubrik{
    color:white !important;
    opacity: 1;
}



#centeredChild{
    position:relative;
    left:12%;
}